<center>
<div class="formnuevo">
<div class="page-header">
  <%= link_to fitpartners_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Regresar
  <% end %>
  <h1>Quiero ser Fitpartner</h1>
</div>

<%= render 'form' %>
</div>
</center>