<!-- Container element -->
<div class="parallax1"></div>
<center><h1>Encuentra a tu fitpartner ideal</h1></center>
<center><h1>Fit People - Fit Places - Fit Food - Fit Events</h1></center>
<div class="parallax2"></div>
<div class="well center-block" style="max-width:400px"> <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button> <button type="button" class="btn btn-default btn-lg btn-block">Block level button</button> </div>
<div class="jumbotron"> <center><h2>Registrate</h2></center><center><h1>Descubre</h1></center><center><p>Diferentes opciones Fit</p></center></div>