<div class="jumbotron"> <center><h1><i class="fa fa-bolt" aria-hidden="true">FitAdvisor</i></h1></center><center><p><a class="btn btn-primary btn-lg" href="#" role="button">Buscar</a></p></center></div>
<center><h1>Encuentra a tu fitpartner ideal</h1></center>
<center><h1>Fit People - Fit Places - Fit Food - Fit Events</h1></center>
<div class="jumbotron"> <center><h2>Registrate</h2></center><center><h1>Descubre</h1></center><center><p>Diferentes opciones Fit</p></center></div>