<nav class="navbar navbar-inverse">
    	<center><a href="#"><i class="fa fa-bolt fa-2x" aria-hidden="true">FitAdvisor</i></a></center>
    <div>
    	<ul class="nav navbar-nav">
        	<li><a href="#">Ayuda</a></li>
        	<li><a href="#">Registrate</a></li>
        	<li><a href="#">Iniciar sesión</a></li>
        	<li><a href="#">Quiero ser Fitpartner</a></li>
      	</ul>
    </div>    
</nav>