<center>
		<a href="#"><%= image_tag("export/fit2_11.png", :style => 'height: 110px;padding:20px')%></a>
    	<!--<div>
        	<a href="#" class="link">Ayuda</a>
        	<a href="#" class="link">Registrate</a>
        	<a href="#" class="link">Iniciar sesión</a>
        	<a href="#" class="link">Quiero ser Fitpartner</a>
    	</div>-->
</center>