// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.colitem{
	
}
.itemskill0{
	width: 1px;
	height: 308px;
}
.itemskill1{
	width: 528px;
	height: 308px;
	
}
.itemskill2{
	width: 541px;
	height: 308px;
}
.itemskill3{
	width: 529px;
	height: 428px;
}
.itemskill4{
	width: 511px;
	height: 428px;
}
.amigos{
	padding-left: 20%;
	min-height: 250px;
}