// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.colitem{
	
}
.itemskill0{
	width: 1px;
	height: 308px;
}
.itemskill1{
	width: 528px;
	height: 308px;
	
}
.itemskill2{
	width: 541px;
	height: 308px;
}
.itemskill3{
	width: 529px;
	height: 428px;
}
.itemskill4{
	width: 511px;
	height: 428px;
}
.amigos{
	padding-left: 20%;
	min-height: 250px;
}

.parallax5 { 
    /* The image used */
    background-image: url(image_path('busqueda/fitfondo_02.jpg'));

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .logo{
        position: relative;
        top: 20%;
    }

    .sombra {
        position:relative;
        top:50%;
        width: 100%;
        height: 100px;
        background-color: transparent;
        .boxbuscar{
            width: 400px;
            height: 40px;
            border-radius: 0;
        }
        .botonbuscar{
            width: 155px;
            height: 40px;
            background-color: #792a7b;
            border: 0;
            color: white;
            font-size: 20px;
            border-radius: 0;
        }
    }
}